h1{
    font-family: 'heavy-f';
}
h2{
    font-size: 1.35em;
    font-family: 'med-f';
}
h3{
    font-size: 1.1em;
    font-family: 'reg-f';
}
p{
    margin: 0;
}
.bg--div{
    background-image: url("../images/bgput.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.parent-div{
    background: linear-gradient(87.45deg, rgba(255, 255, 255, 0.5) 0.88%, rgba(255, 255, 255, 0.395) 56.12%, rgba(255, 255, 255, 0.295) 94.59%);
    backdrop-filter: blur(50px);
    border-radius: 12px;
    position: relative;
    min-width: 20em;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
    max-width: 24em;
    margin: auto;
    top: 0;
    /* border: 1px solid black; */
}
.img-div{
    display: block;
    padding: 2em 0 1em 0 ;
    width: 70%;
    margin: auto;
}
.top-col{
    /* margin: auto; */
    /* width: 25%; */
    /* border: 1px solid black; */
    text-align: center;
    /* padding-bottom: 1em; */
}
.top-col > h1,h2,h3{
    padding: 5px 0 10px 0 ;
    margin: 0;
}
.mid-col{
    /* margin: auto; */
    /* width: 25%; */
    /* border: 1px solid black; */
    text-align: left;
    padding-bottom: 2em;
}
.mid-col > h3{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1.5em 0 0.5em 3.2em;
}
.mid-col > p{
    display: flex;
    margin: 0;
    padding: 0em 5.35em;
}
.mid-col > h3 > img{
    padding-right: 0.4em;
}
.bot-col{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.3) 100%);
    border-radius: 8px 8px 13px 0px;
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 1.15em;
    padding: 1em 0em 1em 0em;
    /* border: 1px solid white; */
}
.bot-col > a {
    display: flex;
    justify-content: center;
    margin: 0;
}
.bot-col > a > img{
    margin: 0;
    width: 81%;
}