.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0144) 0%, rgba(255, 255, 255, 0.36) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(100px);
}

.nav-logo{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.nav-logo > h1 {
    font-size: 28px;
    font-family: "heavy-f";
    font-weight: 800;
    padding-left: 0.5rem;
    padding-top: .5rem;
}
.nav-logo > img {
    padding-left: 1.5rem;
    height: 43px;
    width: 45px;
}

.nav-list{
  list-style: none;
  display: flex;
}
  
.nav-list > li {
  padding-right: 2.5rem;
}


.nav-list > li > a {
  padding: .2em .2em;
  color: black;
  position: relative;
  text-decoration: none;
  font-size: 1.1em;
  font-family: "reg-f";
  border-radius: 2px;
  font-weight: bold;
  background:
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 0% 2px;
  background-position: 2px 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.nav-list > li > a:hover {
  background-size: 100% 2px;
}


.nav-right{
  display: flex;
  padding-right: 4rem;
}

.nav-btn{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(60.78% 130.17% at 70% -11.21%, #414345 0%, #232526 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "bold-f";
  font-weight: 550;
  height: 2.35em;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 1.1em;
  padding-right: 1.1em;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1.15em;
}

.nav-btn:focus {
  box-shadow: radial-gradient(60.78% 130.17% at 70% -11.21%, #414345 0%, #232526 100%)
}

.nav-btn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(45, 35, 66, .4) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.nav-btn:active {
  box-shadow: rgba(45, 35, 66, .4) 0 3px 7px inset;
  transform: translateY(2px);
}

.nav-btn > a {
  text-decoration: none;
  color: white;
}