.form--main{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../../images/bg-form1.png");
    background-size: 100dvw;
    background-repeat: no-repeat;
    /* background-image: url("../images/bg-form.png"); */
    /* height: 100dvw; */
    /* background: url(../images/try.png); */
    /* background-size: cover; */
}

.smthing {
    text-align: center;
}


.def-form {
    margin: 2em 40em 0em 14.3em;
    padding: 2em;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    /* background: linear-gradient(90.6deg, rgba(24, 209, 224, 0.2) 0%, rgba(225, 34, 252, 0.2) 100%); */
    /* border: 1px solid #000000; */
}

.def-form > h1 {
    font-family: med-f;
    font-size: 1.8rem;
    padding-bottom: 0.5rem;
    margin: 0;
    color: black;
}

.def-form > p {
    letter-spacing: 1px;
    font-family: reg-f;
    font-size: 1.2em;
    margin: 0;
    color: black;
}
