.main-main-div h1{
    text-align: left;
    padding-left: 35px;
    font-family: "mark_probold";
    padding-top: 25px;
}
.line-div {
    height: 0.2em;
    border-radius: 100px;
    position: relative;
    position: center;
    left: 2em;
    right: 1em;
    top: 0.1em;
    width: 80em;
    background: linear-gradient(270deg, #F35162 0%, #CA6DDB 47.71%, #1EBDE9 100%);
    border-radius: 3px;
}
.main-content p{
    font-size: 28px;
    max-width: 900 px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 35px;
    margin-right: 35px;
    
}
.main-content-small p{
    font-size: 28px;
    max-width:  750px;
    display: flex;
    margin-left: 35px;
}

.card {
    display: flex;
    justify-content: space-around;
    
}

.card-img-top{
    width: 18rem;
    display: flex;
    justify-content: space-around;

}


